html {
  font-family: "Montserrat";
}
body {
  max-width: 375px;
  margin: auto;
  background: black;
}
img {
  display: block;
  max-width: 100%;
}
h1,h2,h3 {
  font-family: "MuseoModerno Thin";
  font-weight: 400;
}
main{
  padding: 0px 0px 60px 0px;
  background-image: url(../img/fond.jpg);
  background-size: 100%;
  background-position: 0px;

}
footer{
  background: #c1c1c1;
  padding: 0px 0px 60px 0px;
}
.container{
  display: flex;
  flex-wrap: wrap;
  background:#dcb0cf;
}
.festival {
  padding: 25px;
  background: white; 
  color: black;
  border: 1px solid ;
  text-decoration: none;
  flex-grow: 3;
}
.streetfood{
  padding: 25px;
  background: white; 
  color: black;
  border: 1px solid ;
  text-decoration: none;
  flex-grow:0;
}
.contact{
  padding: 25px;
  background: white; 
  color: black;
  border: 1px solid;
  text-decoration: none;
  flex-grow: 0;
}
.tags{
  padding: 20px 20px 20px 20px;
}
.jam{

  padding: 20px 20px 20px 20px;
}
.skate{
  padding: 20px 20px 20px 20px;
}
.musique{
  padding: 20px 20px 20px 20px;
}
.food{
  padding: 20px 20px 20px 20px;
}
.musique{
  padding: 20px 20px 20px 20px;
}