html {
  font-family: 'Montserrat', sans-serif;
}
body {
  max-width: 375px;
  margin: auto;
  background: black;
}
img {
  display: block;
  max-width: 100%;
}
h1,h2,h3 {
  font-family: 'MuseoModerno', cursive;
  font-weight: 400;
}
main{
  padding: 0px 0px 0px 0px;
}
footer{
  background: #c1c1c1;

}
.container{
  display: flex;
  flex-wrap: wrap;
  background:#dcb0cf;
}
.festival {
  padding: 25px;
  background: white; 
  color: black;
  border: 1px solid ;
  text-decoration: none;
  flex-grow: 3;
}
.streetfood{
  padding: 25px;
  background: white; 
  color: black;
  border: 1px solid ;
  text-decoration: none;
  flex-grow:0;
}
.contact{
  padding: 25px;
  background: white; 
  color: black;
  border: 1px solid;
  text-decoration: none;
  flex-grow: 0;
}
.jam{
  padding: 25px 25px 25px 25px;
  background-image: url(../img/rose.jpg);
  background-size: 100%;
  background-position: 0px;
}
.tags{
  padding: 25px 25px 25px 25px;
  background-image: url(../img/blanc.jpg);
  background-size: 100%;
  background-position: 0px;
}
.skate{
  padding: 25px 25px 25px 25px;
  background-image: url(../img/gris.jpg);
  background-size: 100%;
  background-position: 0px;
}
.musique{
  padding: 25px 25px 25px 25px;
  background-image: url(../img/rose2.jpg);
  background-size: 100%;
  background-position: 0px;
}
.food{
  padding: 25px 25px 25px 25px;
  background-image: url(../img/blanc2.jpg);
  background-size: 100%;
  background-position: 0px;
}
.contact{
  padding: 25px 25px 25px 25px;
}