html {
  font-family: "Montserrat";
}
body {
  max-width: 375px;
  margin: auto;
  background: white;
}
img {
  display: block;
  max-width: 100%;
}
h1,h2,h3 {
  font-family: "MuseoModerno Thin";
}
main{
  background: #dcb0cf;
  padding: 0px 0px 60px 0px;
}
footer{
  background: #c1c1c1;
  padding: 0px 0px 60px 0px;
}
.container{
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  background:black;
}
.festival{
  padding: 30px;
  background: white; 
  color: black;
  margin: 1px;
  flex-grow: 4;
}
.streetfood{
  padding: 30px;
  background: white; 
  color: black;
  margin: 1px;
  flex-grow: 2;
}
.contact{
  padding: 30px;
  background: white; 
  color: black;
  margin: 1px;
  flex-grow: 2;
}